.header_button {
  all: unset;
  position: relative;

  width: 16%;
  height: 40px;
  padding: 0 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--main-font-family);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;

  background-color: white;
  cursor: pointer;
}

.header_button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.header_button:hover::before {
  width: 100%;
}

.header_button:active {
  height: 39px;
  border-bottom: 1px solid var(--main-color);
}

@media (max-width: 450px) {
  .header_button {
    min-width: 120px;
  }
}
