.header_container {
  position: fixed;
  width: 100%;
  /* overflow-x: scroll; */

  display: flex;
  align-items: center;

  box-shadow: 0 0 4px 0 gray;
}

@media (max-width: 768px) {
  .header_container {
    overflow-x: scroll;
  }
}
