.welcome_container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* position: relative; */

  font-family: var(--main-font-family);

  background-color: rgba(255, 255, 255, 0.286);
  background-image: url("../../img/patron-dorado-60.svg");
  background-size: contain;
  background-position: center;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_title {
  color: var(--main-color);
  text-shadow: 0 0.5px 2px rgb(194, 194, 194);
  text-align: center;
  text-transform: uppercase;

  margin: 60px 0 20px 0;
  font-weight: 100;

  background-color: white;

  border-radius: 8px;
  padding: 8px 20px;
}

@media (max-width: 768px) {
  .welcome_container {
    margin-top: 90px;
    height: fit-content;

    background-size: cover;
    background-position: center;
  }

  .main_title {
    margin-top: 80px;
  }

  .info_container {
    width: 80%;
    height: fit-content;
  }
}
